<html>

<head>
  <base href="/">
  <script>
    var SHUFFLE_DOMAIN = 'https://shuffle.dev/';
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Toy's Land</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" id="bs-base-fonts">
  <link rel="stylesheet" href="https://shuffle.dev/vendor/bulma-yofte/bulma.min.css" id="bs-base-css">
  <style type="text/css" id="bs-recompiled-css"></style>
  <style type="text/css" id="bs-custom-css"></style>
  <link rel="stylesheet" href="https://shuffle.dev/vendor/icons/css/fontello.css?v=h10c">
  <link rel="stylesheet" href="https://shuffle.dev/vendor/shuffle/fonts/font.css?v=da25">
  <link href="https://shuffle.dev/static/build/css/shuffle-preview.5bc2867d.css" rel="stylesheet">

  <link rel="icon" type="image/png" sizes="32x32" href="https://shuffle.dev/vendor/shuffle/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://shuffle.dev/vendor/shuffle/favicon/favicon-16x16.png">
  <script src="https://shuffle.dev/vendor/bulma-yofte/main.js"></script>
  <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
</head>
