<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img class="image" src="/files/logo.png" width="112" height="28">
      <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Inicio
      </a>
      <a class="navbar-item" href="/producto">
        Productos
      </a>


    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="myButton is-primary" href="/login">
            <strong>Ingresar</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>