<%- include('../public_partials/head.ejs') %>
<body id="page">
  <%- include('../public_partials/navbar.ejs') %>
  <div class="" id="content">
    <section data-section-id="2" data-share="" data-category="product-info" data-component-id="b9652106_01_awz" class="section is-clipped">

      <div class="container">
        <div class="mb-24 columns is-multiline">
          <div class="column is-6 p-1 mb-8 mb-0-tablet">
            <div class="mb-10 is-relative" style="height: 564px;">
              <a class="button is-ghost p-0 ml-8 is-absolute is-top-0 is-left-0" style="z-index: 10; top: 50%;" href="#">
                <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-1-1">
                  <path d="M9 16.0185C9.268 16.2905 9.268 16.7275 9 16.9975C8.732 17.2675 8.299 17.2685 8.031 16.9975L0.201 9.0895C-0.067 8.8195 -0.067 8.3825 0.201 8.1105L8.031 0.2025C8.299 -0.0675 8.732 -0.0675 9 0.2025C9.268 0.4735 9.268 0.9115 9 1.1815L1.859 8.6005L9 16.0185Z" fill="#1F40FF"></path>
                </svg>
              </a>
              <img class="image is-cover" style="height: 100%; width: 100%;" src="yofte-assets/images/product-bottle.png" alt="" data-config-id="auto-img-1-1">
              <a class="button is-ghost p-0 mr-8 is-absolute is-top-0 is-right-0" style="top: 50%;" href="#">
                <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-2-1">
                  <path d="M0.19922 1.1817C-0.0687795 0.909696 -0.0687794 0.472695 0.19922 0.202695C0.46722 -0.0673054 0.90022 -0.0683048 1.16822 0.202695L8.99822 8.11069C9.26622 8.3807 9.26622 8.81769 8.99822 9.08969L1.16822 16.9977C0.900219 17.2677 0.467218 17.2677 0.199219 16.9977C-0.0687809 16.7267 -0.0687808 16.2887 0.199219 16.0187L7.34022 8.5997L0.19922 1.1817Z" fill="#1F40FF"></path>
                </svg>
              </a>
            </div>
            <div class="columns is-mobile is-multiline">
              <div class="column is-6-mobile is-3-tablet">
                <a class="is-block" href="#">
                  <img class="image is-cover" style="height: 128px; width: 100%;" src="yofte-assets/images/product-bottle.png" alt="" data-config-id="image1">
                </a>
              </div>
              <div class="column is-6-mobile is-3-tablet">
                <a class="is-block" href="#">
                  <img class="image is-cover" style="height: 128px; width: 100%;" src="yofte-assets/images/product-bottle2.png" alt="" data-config-id="image2">
                </a>
              </div>
              <div class="column is-6-mobile is-3-tablet">
                <a class="is-block" href="#">
                  <img class="image is-cover" style="height: 128px; width: 100%;" src="yofte-assets/images/product-bottle3.png" alt="" data-config-id="image3">
                </a>
              </div>
              <div class="column is-6-mobile is-3-tablet">
                <a class="is-block" href="#">
                  <img class="image is-cover" style="height: 128px; width: 100%;" src="yofte-assets/images/product-bottle4.png" alt="" data-config-id="image4">
                </a>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="pl-20-desktop">
              <div class="mb-10 pb-10">
                <span class="has-text-grey-dark" data-config-id="label">Brille</span>
                <h1 class="title is-1 is-size-2-touch has-leading-2 has-mw-xl mt-2 mb-6" data-config-id="title">BRILE water filter carafe</h1>
                <div class="mb-8">
                  <button class="button is-ghost p-0">
                    <img class="image" src="yofte-assets/elements/star-gold.svg" alt="" data-config-id="auto-img-2-1">
                  </button>
                  <button class="button is-ghost p-0">
                    <img class="image" src="yofte-assets/elements/star-gold.svg" alt="" data-config-id="auto-img-3-1">
                  </button>
                  <button class="button is-ghost p-0">
                    <img class="image" src="yofte-assets/elements/star-gold.svg" alt="" data-config-id="auto-img-4-1">
                  </button>
                  <button class="button is-ghost p-0">
                    <img class="image" src="yofte-assets/elements/star-gold.svg" alt="" data-config-id="auto-img-5-1">
                  </button>
                  <button class="button is-ghost p-0">
                    <img class="image" src="yofte-assets/elements/star-gray.svg" alt="" data-config-id="auto-img-6-1">
                  </button>
                </div>
                <p class="mb-8 is-inline-block">
                  <span class="is-size-5 has-text-info has-text-weight-bold" data-config-id="price">$29.99</span>
                  <span class="is-size-6 has-text-grey" style="text-decoration: line-through;" data-config-id="price-old">$33.69</span>
                </p>
                <p class="has-text-grey has-mw-md" data-config-id="desc">Maecenas commodo libero ut molestie dictum. Morbi placerat eros id porttitor sagittis.</p>
              </div>
              <div class="mb-12 is-flex">
                <div class="mr-6">
                  <span class="mb-4 is-block has-text-grey has-text-weight-bold" data-config-id="label1">QTY</span>
                  <div class="px-4 is-inline-flex is-align-items-center has-text-weight-bold" style="border: 1px solid #DBDDE1; border-radius: 8px;">
                    <button class="button is-ghost has-text-grey p-0">
                      <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-3-1">
                        <g opacity="0.35">
                          <rect x="12" width="2" height="12" transform="rotate(90 12 0)" fill="currentColor"></rect>
                        </g>
                      </svg>
                    </button>
                    <input class="input px-2 py-4 has-text-centered" style="width: 48px; border: none; box-shadow: none;" type="number" placeholder="1">
                    <button class="button is-ghost has-text-grey p-0">
                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-4-1">
                        <g opacity="0.35">
                          <rect x="5" width="2" height="12" fill="currentColor"></rect>
                          <rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="currentColor"></rect>
                        </g>
                      </svg>
                    </button>
                  </div>
                </div>
                <div>
                  <span class="mb-4 is-block has-text-grey has-text-weight-bold" data-config-id="label2">SIZE</span>
                  <div class="select has-text-grey">
                    <select class="has-text-weight-bold has-text-grey" name="">
                      <option value="1">Medium</option>
                      <option value="2">Small</option>
                      <option value="3">Large</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="mb-14 columns is-multiline">
                <div class="column is-12-touch is-12-desktop is-7-widescreen"><a class="button is-primary is-fullwidth" href="#" data-config-id="primary-action">Add to cart</a></div>
                <div class="column is-12-touch is-6-desktop is-5-widescreen">
                  <a class="button px-6 mr-4" href="#">
                    <svg class="-mt-1" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-5-1">
                      <path d="M13.4993 26.2061L4.70067 16.9253C3.9281 16.1443 3.41815 15.1374 3.24307 14.0471C3.06798 12.9568 3.23664 11.8385 3.72514 10.8505V10.8505C4.09415 10.1046 4.63318 9.45803 5.29779 8.96406C5.96241 8.47008 6.73359 8.14284 7.54782 8.00931C8.36204 7.87578 9.19599 7.93978 9.98095 8.19603C10.7659 8.45228 11.4794 8.89345 12.0627 9.48319L13.4993 10.9358L14.9359 9.48319C15.5192 8.89345 16.2327 8.45228 17.0177 8.19603C17.8026 7.93978 18.6366 7.87578 19.4508 8.00931C20.265 8.14284 21.0362 8.47008 21.7008 8.96406C22.3654 9.45803 22.9045 10.1046 23.2735 10.8505V10.8505C23.762 11.8385 23.9306 12.9568 23.7556 14.0471C23.5805 15.1374 23.0705 16.1443 22.298 16.9253L13.4993 26.2061Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                  <a class="button px-6" href="#">
                    <svg class="-mt-1" width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-6-1">
                      <path d="M2.01328 18.9877C2.05682 16.7902 2.71436 12.9275 6.3326 9.87096L6.33277 9.87116L6.33979 9.86454L6.3398 9.86452C6.34682 9.85809 8.64847 7.74859 13.4997 7.74859C13.6702 7.74859 13.8443 7.75111 14.0206 7.757L14.0213 7.75702L14.453 7.76978L14.6331 7.77511V7.59486V3.49068L21.5728 10.5736L14.6331 17.6562V13.6558V13.5186L14.4998 13.4859L14.1812 13.4077C14.1807 13.4075 14.1801 13.4074 14.1792 13.4072M2.01328 18.9877L14.1792 13.4072M2.01328 18.9877C7.16281 11.8391 14.012 13.3662 14.1792 13.4072M2.01328 18.9877L14.1792 13.4072M23.125 10.6961L23.245 10.5736L23.125 10.4512L13.7449 0.877527L13.4449 0.571334V1V6.5473C8.22585 6.54663 5.70981 8.81683 5.54923 8.96832C-0.317573 13.927 0.931279 20.8573 0.946581 20.938L0.946636 20.9383L1.15618 22.0329L1.24364 22.4898L1.47901 22.0885L2.041 21.1305L2.04103 21.1305C4.18034 17.4815 6.71668 15.7763 8.8873 15.0074C10.9246 14.2858 12.6517 14.385 13.4449 14.4935V20.1473V20.576L13.7449 20.2698L23.125 10.6961Z" fill="currentColor" stroke="currentColor" stroke-width="0.35"></path>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="is-flex is-align-items-center">
                <p class="mb-0 mr-8 has-text-grey has-text-weight-bold" data-config-id="share">SHARE IT</p>
                <a class="mr-1" href="#" style="width: 32px; height: 32px;">
                  <img class="image" src="yofte-assets/buttons/facebook-circle.svg" alt="" data-config-id="auto-img-7-1">
                </a>
                <a class="mr-1" href="#" style="width: 32px; height: 32px;">
                  <img class="image" src="yofte-assets/buttons/instagram-circle.svg" alt="" data-config-id="auto-img-8-1">
                </a>
                <a href="#" style="width: 32px; height: 32px;">
                  <img class="image" src="yofte-assets/buttons/twitter-circle.svg" alt="" data-config-id="auto-img-9-1">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="mb-16 columns is-multiline is-inline-flex" style="border-bottom: 1px solid #E6E9EE;">
            <div class="column is-3"><a class="button is-white px-10" href="#" data-config-id="tab1">Description</a></div>
            <div class="column is-3"><a class="button is-white px-10" href="#" data-config-id="tab2">Customer reviews</a></div>
            <div class="column is-3"><a class="button is-white px-10" href="#" data-config-id="tab3">Shipping &amp; returns</a></div>
            <div class="column is-3"><a class="button is-white px-10" href="#" data-config-id="tab4">Brand</a></div>
          </div>
          <div>
            <h3 class="title is-size-3 has-text-info mb-8" data-config-id="tab-title">Summer collection and laoreet get</h3>
            <p class="has-text-grey has-mw-2xl" data-config-id="tab-desc">I had interdum at ante porta, eleifend feugiat nunc. In semper euismod mi a accums lorem sad. Morbi at auctor nibh. Aliquam tincidunt placerat mollis. Lorem euismod dignissim, felis tortor ollis eros, non ultricies turpis.</p>
          </div>
        </div>
      </div>
    </section>



  </div>

  <script src="https://shuffle.dev/static/build/runtime.199ee6f7.js" defer=""></script>
  <script src="https://shuffle.dev/static/build/js/anchors.91039015.js" defer=""></script>





</body>

</html>