<!DOCTYPE html>
<html>
  <head>
    <title>Programación 3</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Georgelys Herrera</h1>
    <p>C.I.: 29.858.058 </p>
    <p>Sección 4</p>
  </body>
</html>
