<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>


<div class="container">
  <!-- <div class="columns">
    <div class="column is-3 ">
      <aside class="menu is-hidden-mobile">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a class="is-active">Dashboard</a></li>
          <li><a>Customers</a></li>
          <li><a>Other</a></li>
        </ul>
      </aside>
    </div> -->
    <div class="column is-12">